<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">WebService Search</h1>
        <h4 class="text-center font-italic">Using HAL or arXiv</h4>
        <input #search_filter
        (keyup.enter)="Search(search_filter.value);" placeholder="Your search">
        &nbsp;&nbsp;&nbsp;<button (click)="Search(search_filter.value);" class="btn btn-info">Search</button>
        <hr> 
        <div class="row text-left">
            <p>Filters : </p>&nbsp;&nbsp;
            <label for="warning" class="btn btn-primary btn-xs">ARXIV <input type="checkbox" id="primary" class="badgebox" [checked]="checkARXIV" (change)="checkARXIV = !checkARXIV"><span class="badge">&#x2713;</span></label>
            <label for="primary" class="btn btn-danger btn-xs">HAL <input type="checkbox" id="danger" class="badgebox" [checked]="checkHAL" (change)="checkHAL = !checkHAL"><span class="badge">&#x2713;</span></label>
        </div>
    </div>
    <div class="progress-loader panel" [hidden]="!loading" >
 
        <mat-progress-spinner style="margin: auto;" [mode]="'indeterminate'">
        </mat-progress-spinner>
     
    </div>
    <div class="panel" *ngIf="DATA$ | async as datas">
        <ng-container *ngIf="!datas.length">  
            <hr>
            <p class="panel-heading text-center">Aucun résultat pour "{{search_filter.value}}".</p> 
        </ng-container>
        <div class="panel" *ngFor="let data of datas[0]">
            <div *ngIf="checkShowed(data.source)" [className]="data.source=='ARXIV' ? 'card border-primary' : 'card border-danger'">
                <h2 class="card-header" style="margin-top: 0; margin-bottom: 0;"> {{data.titre}} </h2> 
                <div class="card-body">
                    <h4> Author : {{ data.auteur }}; </h4>
                    <h5 *ngIf="data.co_auteurs != null"> Co-Authors : {{ data.co_auteurs }} </h5>
                    <p [className]="data.source=='ARXIV' ? 'card-body text-primary' : 'card-body text-danger'">{{data.summary}}</p>
                    <a href="{{ data.url }}" [className]="data.source=='ARXIV' ? 'btn btn-primary stretched-link' : 'btn btn-danger stretched-link'">Link to the article</a>
                </div>
                <div class="card-header text-muted">
                    <p>Published the {{ data.date | date: 'dd/MM/yyyy' }} on {{ data.source }}</p>
                </div>
            </div>
        </div>
    </div>
</div>