<div class="container">
  <div class="jumbotron">
      <h2>WebService Search</h2>
      <h3>Using HAL or arXiv</h3> 
      <br>
      <span> Your search : </span><input #search_filter
      (keyup.enter)="SearchARXIV(search_filter.value); SearchHAL(search_filter.value)">
      &nbsp;&nbsp;&nbsp;<button (click)="SearchARXIV(search_filter.value); SearchHAL(search_filter.value)" class="btn btn-info">Search</button>
      <hr> 
      <div class="row text-left">
          &nbsp;&nbsp;
          Filters : 
          <label for="primary" class="btn btn-primary btn-xs">HAL <input type="checkbox" id="primary" class="badgebox" [checked]="checkHAL" (change)="checkHAL = !checkHAL"><span class="badge">&#x2713;</span></label>
           | 
          <label for="warning" class="btn btn-danger btn-xs">ARXIV <input type="checkbox" id="danger" class="badgebox" [checked]="checkARXIV" (change)="checkARXIV = !checkARXIV"><span class="badge">&#x2713;</span></label>                                                              
      </div>
  </div>
  <div class="panel" *ngIf="HAL$ | async as datas">
      <div class="panel" *ngFor="let data of datas">

          <ng-container *ngIf="data.docs.length==0">  
              <hr>
              <div class="panel-heading">Aucun résultat pour "{{search_filter.value}}" sur <font color="blue">HAL</font>.</div> 
          </ng-container>
          <ng-container *ngIf="checkHAL">  
              <div class="panel panel-primary" *ngFor="let doc of data.docs">
                  <div class="panel-heading">Title : {{doc.title_s[0]}} -- Publication date : {{doc.submittedDate_tdate | date}} </div> 
                  <div class="panel-body">
                      <h4> Authors : <span *ngFor="let author of doc.authFullName_s">{{author}}; </span></h4>
                      <h4>URI :  <a href="{{doc.uri_s}}" class="btn btn-secondary">Go to source</a> </h4>
                      <h4>{{doc.label_s}}</h4>
                  </div>
              </div>
          </ng-container>            
      </div>
  </div>
  <div class="panel" *ngIf="ARXIV$ | async as datas">
      <div class="panel" *ngFor="let data of datas">
          <ng-container *ngIf="!data.entry">  
                  <hr>
                  <div class="panel-heading">Aucun résultat pour "{{search_filter.value}}" sur <font color="red">ARXIV</font>.</div> 
          </ng-container>
          <ng-container *ngIf="checkARXIV">  
              <div class="panel panel-danger" *ngFor="let entry of data.entry">
                  <div class="panel-heading">Title : {{entry.title[0]}} -- Publication date : {{entry.published[0] | date}} </div> 
                  <div class="panel-body">
                      <h4> Authors : <span *ngFor="let author of entry.author">{{author.name}}; </span></h4>
                      <h4>URI :  <a href="{{entry.link[0].$.href}}" class="btn btn-secondary">Go to source</a> </h4>
                      <h4>{{entry.summary[0]}}</h4>
                  </div>
              </div>
          </ng-container>
      </div>
  </div>
</div>

