<div class="container">
    <div class="jumbotron">
        <h2>WebService Search</h2>
        <h3>Using HAL or arXiv</h3> 
        <br>
        <span> Your search : </span><input #search_filter
        (keyup.enter)="Search(search_filter.value);">
        &nbsp;&nbsp;&nbsp;<button (click)="Search(search_filter.value);" class="btn btn-info">Search</button>
        <hr> 
        <div class="row text-left">
            &nbsp;&nbsp;
            Filters : 
            <label for="primary" class="btn btn-primary btn-xs">HAL <input type="checkbox" id="primary" class="badgebox" [checked]="checkHAL" (change)="checkHAL = !checkHAL"><span class="badge">&#x2713;</span></label>
            | 
            <label for="warning" class="btn btn-danger btn-xs">ARXIV <input type="checkbox" id="danger" class="badgebox" [checked]="checkARXIV" (change)="checkARXIV = !checkARXIV"><span class="badge">&#x2713;</span></label>                                                              
        </div>
    </div>
    <div class="panel" *ngIf="DATA$ | async as datas">
        <ng-container *ngIf="datas[0].length==0">  
            <hr>
            <p class="panel-heading">Aucun résultat pour "{{search_filter.value}}".</p> 
        </ng-container>
        <div class="panel" *ngFor="let data of datas[0]">
            <div [className]="data.source=='ARXIV' ? 'panel panel-primary' : 'panel panel-danger'">
                <h2 class="panel-heading" style="margin-top: 0; margin-bottom: 0;">{{ data.source }} : {{data.titre}} -- Publication date : {{ data.date | date: 'dd/MM/yyyy' }} </h2> 
                <div class="panel-body">
                    <h3> Author : {{ data.auteur }}; </h3>
                    <h5 *ngIf="data.co_auteurs != null"> Co-Authors : {{ data.co_auteurs }} </h5>
                    <h4>URI :  <a href="{{ data.uri }}" class="btn btn-secondary">Go to source</a> </h4>
                    <p>{{data.summary}}</p>
                </div>
            </div>
        </div>
    </div>
</div>